In [1]:
import pandas as pd
import requests
import numpy as np
import requests
import bs4
import re
from datetime import datetime
from threading import Timer
import csv
import os

from collections import OrderedDict
from itertools import chain

In [2]:
movies= pd.read_csv('IMDB movies.csv')
currency= pd.read_csv('Currency.csv')

C:\Users\CAM\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
#subset data
budgetmovies= movies.loc[movies['budget'].notnull(), ]

In [9]:
sample= budgetmovies.iloc[:10]

In [10]:
sample['Currency']= sample['budget'].str[:3]
sample.loc[sample['Currency'].str.contains('$'), 'Currency']= 'USD'

C:\Users\CAM\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
sample

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics,Currency
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0,USD
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0,USD
7,tt0002445,Quo Vadis?,Quo Vadis?,1913,1913-03-01,"Drama, History",120,Italy,Italian,Enrico Guazzoni,...,"An epic Italian film ""Quo Vadis"" influenced ma...",6.2,273,ITL 45000,NaN,NaN,NaN,7.0,5.0,USD
8,tt0002452,Independenta Romaniei,Independenta Romaniei,1912,1912-09-01,"History, War",120,Romania,NaN,"Aristide Demetriade, Grigore Brezeanu",...,The movie depicts the Romanian War of Independ...,6.7,198,ROL 400000,NaN,NaN,NaN,4.0,1.0,USD
9,tt0002461,Richard III,Richard III,1912,1912-10-15,Drama,55,"France, USA",English,"André Calmettes, James Keane",...,Richard of Gloucester uses manipulation and mu...,5.5,225,$ 30000,NaN,NaN,NaN,8.0,1.0,USD
19,tt0003471,Traffic in Souls,Traffic in Souls,1913,1913-11-24,"Crime, Drama",88,USA,English,George Loane Tucker,...,"A woman, with the aid of her police officer sw...",6.0,552,$ 5700,NaN,NaN,NaN,14.0,11.0,USD
24,tt0003740,Cabiria,Cabiria,1914,1914-04-18,"Adventure, Drama, History",148,Italy,Italian,Giovanni Pastrone,...,Cabiria is a Roman child when her home is dest...,7.1,3073,$ 210000,NaN,NaN,NaN,31.0,26.0,USD
31,tt0004099,"His Majesty, the Scarecrow of Oz","His Majesty, the Scarecrow of Oz",1914,1914-10-14,"Family, Fantasy, Adventure",59,USA,English,J. Farrell MacDonald,...,"A wicked king has taken over the Emerald City,...",5.2,415,$ 23500,NaN,NaN,NaN,11.0,7.0,USD
34,tt0004181,Judith of Bethulia,Judith of Bethulia,1914,1914-03-08,Drama,61,USA,English,D.W. Griffith,...,A religious woman seeks to save her people fro...,6.1,1239,$ 40000,NaN,NaN,NaN,16.0,9.0,USD
36,tt0004465,The Perils of Pauline,The Perils of Pauline,1914,1914-03-23,"Action, Adventure, Drama",199,USA,English,"Louis J. Gasnier, Donald MacKenzie",...,Young Pauline is left a lot of money when her ...,6.3,939,$ 25000,NaN,NaN,NaN,5.0,8.0,USD

In [ ]:
sample.budget.str.extract(r'(\w\w\w)',expand=True)
#sample.budget.str.extract(r'(\$)',expand=True)
#sample['currency']=sample.budget.str.replace(r'(\$)', 'USD')

In [ ]:
def alert(row):
    if row['budget'].str.contains('$'):
        return 'USD'
    else: 
        return sample['budget'][row].str.extract('(\w\w\w)' )


sample['currency'] = sample.apply(alert, axis=1)

In [ ]:
#insert currency column into dataframe
budgetmovies['currency']= ""
for row in budgetmovies.index:
    budgetmovies.loc[budgetmovies['budget'].str.contains('$'), 'currency'] == 'USA'

In [ ]:
for row in budgetmovies:
    budgetmovies['currency'][row] = np.where(budgetmovies['budget'].str.contains('$'), 'USD',budgetmovies['budget'].str.extract('(\w\w\w)' ))

In [ ]:
#trial code
budgetmovies['Currency'] = re.findall('\w\w\w',budgetmovies['budget'])
budgetmovies['budget'].str.findall('\w\w\w')
budgetmovies.loc[budgetmovies['budget'].str.contains('\w\w\w'), 'currency'] = '\w\w\w'
if '$' in budgetmovies['budget'][row]: 
        budgetmovies['Currency'][row] = "USA"
    else:
        pass
    
budgetmovies['currency'] = if  else budgetmovies['budget'].str.extract('(\w\w\w)', expand=True) 
budgetmovies['budget'].str.extract('(\w\w\w)', expand=True) 
budgetmovies['currency'] = [1500 if x =='Music' else 800 for x in df['Event']]
budgetmovies['currency'] = [['\w\w\w'] for i in budgetmovies['budget']]